<div class="container" style="overflow-x:auto;">
  {{#if orders}}
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Phone Number</th>
          <th>State</th>
          <th>Delivery Address</th>
          <th>Book Title</th>
          <th>Copies</th>
          <th>Order Date</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {{#each orders}}
          <tr>
            <th>{{_id}}</th>
            <td>{{full_name}}</td>
            <td>{{phone_number}}</td>
            <td>{{state}}</td>
            <td>{{delivery_address}}</td>
            <td>{{book_title}}</td>
            <td>{{copies}}</td>
            <td>{{createdAt}}</td>
            <td>{{status}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{else}}
    <p>There are no orders at the moment</p>
  {{/if}}
</div>