<div style="overflow-x:auto; margin: 10px;">
  {{#if orders}}
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Phone Number</th>
          <th>State</th>
          <th>Delivery Address</th>
          <th>Book Title</th>
          <th>Copies</th>
          <th>Order Date</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {{#each orders}}
          <tr>
            <td>{{full_name}}</td>
            <td>{{phone_number}}</td>
            <td>{{state}}</td>
            <td>{{delivery_address}}</td>
            <td>{{bcm_jss}}<br/>{{bcm_jss1}}<br/>{{bcm_jss2}}<br/>{{bcm_jss3}}</td>
            <td>{{copies}}</td>
            <td>{{formatDate createdAt "MMM Do YYYY, h:mm:ss: a"}}</td>
            <td>{{status}}</td>
            <td>
              <a href="order/summary/{{_id}}" >Checkout</a>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{else}}
    <p>There are no orders at the moment</p>
  {{/if}}
</div>