<section class="container">
  <div class="row">
    <div class="card">
      <h1 class="card-title">Order Summary</h1>
      <div class="card-body summary-card">
        <div class="row">
          <div class="col-md-4">
            <h6>Full Name</h6>
            <p>{{summary.full_name}}</p>
          </div>
          <div class="col-md-4">
            <h6>Phone Number</h6>
            <p>{{summary.phone_number}}</p>
          </div>
          <div class="col-md-4">
            <h6>Deliver Address</h6>
            <p>{{summary.delivery_address}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <h6>Book Title(s)</h6>
            <span>{{summary.bcm_jss}}</span> <br>
            <span>{{summary.bcm_jss1}}</span> <br>
            <span>{{summary.bcm_jss2}}</span> <br>
            <span>{{summary.bcm_jss3}}</span>
          </div>
          <div class="col-md-3">
            <h6>Number of Copies</h6>
            <p>{{summary.copies}}</p>
          </div>
        </div>
        <row>
            <a href="order/edit" class="btn btn-danger">Processing</a>
            <a href="/order/update/{{_id}}" class="btn btn-success" style="margin-left: 24%;">Delivered</a>
        </row>
      </div>
    </div>
  </div>
</section>